.login {
    background: black;
    margin: 0px 20px;
    padding: 20px;
    border-radius: 25px;
    max-width: 400px;
    color: $light;
}

.login-subheader {
    font-size: 15px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

@media #{$media-mobile} {
    .login {
        max-width: none;
        width: 100%;
        background: orange;
        color: black;
    }
    .login-header {
        color: black;
    }
}