.contact-from {
    max-width: 400px;
    margin-right: 300px;
}

.contact-from:focus, .contact-message-body:focus, .contact-button:hover {
    background: black;
    color: $light;
}

.contact-message-body {
    min-height: 300px;
}

@media #{$media-mobile} {
    .contact-message-body {
        min-width: none;
        min-height: none;
        max-width: 300px;
        margin: 0;
    }
    .contact-from {
        max-width: none;
        max-width: 300px;
        margin: 10px 0;
    }
}

// @media #{$media-desktop} {
//     .contact-from {
//         margin-right: 300px;
//     }
// }