.input {
    @include generalElement;
    @include input;
    color: black;
}

.input:focus {
    outline: none;
    background: orange;
    color: $light;
}

@media #{$media-mobile} {
    .login-focus:focus {
        background: black;
    }
}