* {
  background: orange;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  display: none;
}

.S1KTitle,
.social-media,
.header-link,
.non-title-links,
.persistent-header,
.footer,
.schedule-row,
.schedule-element,
.schedule-component,
b, .message-component, .messages-header, .message {
  background: #ffeadb;
}

.messages, .player-name,
.player-description, .player-card, .message-close, .submit {
  background: black;
}

.social-media,
.backdrop,
.header-link, .submit, .message-close {
  cursor: url(./SVG/reticule.svg), auto;
}

.S1KTitle {
  height: 8vh;
  margin: 0;
  padding: 10px 10px;
}

.social-media {
  height: 4vh;
}

.social-media,
.header-link {
  margin: 0 10px;
}

.non-title-links {
  display: flex;
}

.persistent-header {
  width: 100%;
  margin: 0;
  position: fixed;
  top: 0px;
  box-shadow: 0 0 10px black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

h2 {
  padding-top: 20px;
  font-size: 80px;
  margin-bottom: 10px;
}

.content {
  height: 100vh;
  margin-top: 100px;
}

.backdrop {
  height: 70vh;
}

.main-paragraph {
  font-size: 30px;
}

.backdrop-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.footer {
  position: relative;
  width: 100%;
  height: 10vh;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: baseline;
}

.roster {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 100px;
}

.roster-component {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-bottom: 30px;
}

.player-icon {
  border-radius: 50%;
  margin-bottom: 20px;
}

.player-card {
  border-radius: 10%;
  padding: 50px;
}

.player-name,
.player-description {
  color: #ffeadb;
}

.schedule {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.schedule-body {
  background: black;
  border-radius: 25px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.schedule-row {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 25px;
  margin: 10px;
}

.schedule-element {
  margin-right: 20px;
  font-size: 25px;
}

.schedule-component {
  display: flex;
  padding: 5px;
}

.messages {
  display: flex;
  flex-direction: column;
  background: black;
  align-items: center;
  width: 50%;
  height: 50vh;
  overflow: scroll;
  margin: 30px;
  margin-top: 200px;
  border-radius: 25px;
}

.messages-header {
  border-radius: 25px;
  width: 400px;
  font-size: 60px;
  text-align: center;
}

.message {
  border-radius: 25px;
  width: 80%;
  padding: 20px;
  margin: 20px;
}

.message-close, .submit {
  color: #ffeadb;
  padding: 10px;
  width: 40px;
  text-align: center;
  border-radius: 10px;
  align-self: center;
}

.message-component {
  margin: 5px;
  font-weight:bold;
}

.message-body {
  font-weight: normal;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

.contact , .contact-form{
  display: flex;
  flex-direction: column;
}

.form-input {
  background: #ffeadb;
  outline: none;
  resize: none;
  overflow: scroll;
  border-radius: 10px;
  padding: 10px;
  font-size: 30px;
  border: 5px solid black;
}

.contact-component {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.submit {
  width: 100px;
}

.contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.text-input {
  width: 33%
}

.message-input {
  width: 66%
}

.textarea {
  height: 33vh;
}

.login-input {
  margin: 10px;
  padding: 10px;
}

.admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.login-form-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.login-header {
  font-size: 100px;
  margin: 50px;
}

.contact-header {
  font-size: 80px;
  padding: 10px;
  margin: 50px 0px;
}