body {
  background: orange;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

$light: #ffedcc;
$media-mobile: "only screen and (max-width : 450px)";

@mixin generalElement {
  background: $light;
  padding: 15px;
  border-radius: 25px;
}

@mixin input {
  font-size: 20px;
  margin: 10px;
}

@mixin reticule {
  cursor: url("./SVG/reticule.svg") 16 -16, auto;
}

@mixin dashboard {
  display: flex;
    border: 1px solid $light;
    border-radius: 25px;
    padding: 5px;
}

@media #{$media-mobile} {
  html, body {
    overflow-x: hidden;
  }
  body {
    position: relative;
    width: 100%;
  }
}

@import "./SASS/Header";
@import "./SASS/hamburger";
@import "./SASS/admin-header";
@import "./SASS/error";
@import "./SASS/form";
@import "./SASS/radio";
@import "./SASS/Main";
@import "./SASS/Admin";
@import "./SASS/input";
@import "./SASS/button";
@import "./SASS/Dashboard";
@import "./SASS/Messages";
@import "./SASS/admin-Schedule";
@import "./SASS/UpdateRoster";
@import "./SASS/EditPlayer";
@import "./SASS/Contact";
@import "./SASS/Roster";